In [2]:
import numpy as np
import pandas as pd

# Sample data (replace with your actual data)
data_file = 'ipd_dataset.csv'
# Read the data into a DataFrame
df = pd.read_csv(data_file)
df.head()

   Id  eventID  userID  rawData      ppg     type subType  label
0   1     5635      45   1630.0  69.0000  Seizure    Aura      0
1   2     5635      45   1632.0  68.9283  Seizure    Aura      0
2   3     5635      45   1628.0  68.8575  Seizure    Aura      0
3   4     5635      45   1621.0  68.7877  Seizure    Aura      0
4   5     5635      45   1624.0  68.7189  Seizure    Aura      0

In [ ]:
# Sample data (replace with your actual data)
data_file = 'ipd_dataset.csv'
# Read the data into a DataFrame
df = pd.read_csv(data_file)
# Select only the required columns
df_filtered = df[["Id", "eventID", "label"]]

            Id  eventID  label
133464  133465     9401      0

In [5]:
# Get a list of all unique eventID values
unique_event_ids = df["eventID"].unique().tolist()

# Print the list
print(unique_event_ids)

ids=[[5635, 5637, 6668, 8726, 8738, 15923, 7219, 28725, 7222, 15417, 21561, 6717, 
      21569, 5705, 6732, 5721, 7258, 7772, 7262, 7775, 8800, 9828, 41062, 6761, 44137, 6767, 5745, 115, 119, 5254, 7823, 6808, 45209, 6815, 42147, 
      5288, 12973, 9401, 31420, 7357, 31421, 15039, 21695, 7365, 45781, 6884, 6897, 9470, 8960, 5889, 5891, 9475, 7434, 8970, 21797, 8998, 9005, 4924, 24380, 11587, 11591, 12618, 6476, 14157, 14159, 12624, 40784, 45393, 6998, 7006, 7007, 15208, 21865, 21866, 5483, 21867, 26988, 5486, 26992, 7036, 15230, 21886, 7044, 407, 47000, 47002, 9627, 53665, 53666, 5031, 12206, 12214, 6587, 6590, 36799, 34756, 34759, 5580, 36812, 40913, 21458, 7125, 7126, 8661, 26071, 5595, 5596, 12763, 26077, 5087, 5610, 6847]]

[5635, 5637, 6668, 8726, 8738, 15923, 7219, 28725, 7222, 15417, 21561, 6717, 21569, 5705, 6732, 5721, 7258, 7772, 7262, 7775, 8800, 9828, 41062, 6761, 44137, 6767, 5745, 115, 119, 5254, 7823, 6808, 45209, 6815, 42147, 5288, 12973, 9401, 31420, 7357, 31421, 15039, 21695, 7365, 45781, 6884, 6897, 9470, 8960, 5889, 5891, 9475, 7434, 8970, 21797, 8998, 9005, 4924, 24380, 11587, 11591, 12618, 6476, 14157, 14159, 12624, 40784, 45393, 6998, 7006, 7007, 15208, 21865, 21866, 5483, 21867, 26988, 5486, 26992, 7036, 15230, 21886, 7044, 407, 47000, 47002, 9627, 53665, 53666, 5031, 12206, 12214, 6587, 6590, 36799, 34756, 34759, 5580, 36812, 40913, 21458, 7125, 7126, 8661, 26071, 5595, 5596, 12763, 26077, 5087, 5610, 6847]